@model IEnumerable<FrontEnd.Models.SedeViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="page-header">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <h2 class="page-title">
                    Listado de sedes
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a asp-action="Create" class="btn btn-danger">Nueva sede</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive min-vh-100">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead class="table-secondary ">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreUbi)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Provincia)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ciudad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DireccionSede)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreUbi)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Provincia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ciudad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DireccionSede)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                                            @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                                            @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>