@model FrontEnd.Models.MantenimientoViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Seguro que quieres eliminar esto?</h1>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mantenimiento</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TipoMantenimiento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TipoMantenimiento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FechaInicio)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaFinalizacion)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FechaFinalizacion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Costo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Costo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DescripcionMantenimiento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DescripcionMantenimiento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaActualizado)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FechaActualizado)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdAutomovil)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdAutomovil)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdAutomovile)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdAutomovile)
                        </dd>
                </div>
            </div>

            <form asp-action="Delete" class="mt-4">
                @Html.HiddenFor(Model=>Model.Id)
                <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
            </form>
        </div>
    </div>
</div>